In [86]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [87]:
from app.models import db

In [88]:
user= pd.read_sql('rating',db.engine)

In [89]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1500 non-null   int64
 1   rest_id      1500 non-null   int64
 2   rating       1500 non-null   int64
 3   username     1500 non-null   object
 4   date_posted  1500 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 58.7+ KB

In [90]:
user[user.username=='user_02_abc']

    id  rest_id  rating     username                date_posted
10  11    97099       2  user_02_abc 2020-05-12 15:32:00.204891
11  12    79267       3  user_02_abc 2020-05-12 15:32:00.204891
12  13    84842       5  user_02_abc 2020-05-12 15:32:00.205891
13  14    96251       4  user_02_abc 2020-05-12 15:32:00.205891
14  15   100022       5  user_02_abc 2020-05-12 15:32:00.205891
15  16   100800       3  user_02_abc 2020-05-12 15:32:00.205891
16  17    82949       3  user_02_abc 2020-05-12 15:32:00.205891
17  18    77188       4  user_02_abc 2020-05-12 15:32:00.205891
18  19    77290       3  user_02_abc 2020-05-12 15:32:00.206912
19  20    98172       4  user_02_abc 2020-05-12 15:32:00.206912

In [91]:
a= user[user.username=='user_02_abc']
b= a.rating
b.tolist()

[2, 3, 5, 4, 5, 3, 3, 4, 3, 4]

In [92]:
df = user.set_index('id', drop = True)

In [93]:
df

      rest_id  rating       username                date_posted
id
1       82057       4    user_01_abc 2020-05-12 15:32:00.202893
2       83657       4    user_01_abc 2020-05-12 15:32:00.203894
3       89626       3    user_01_abc 2020-05-12 15:32:00.204891
4       91276       4    user_01_abc 2020-05-12 15:32:00.204891
5       93829       3    user_01_abc 2020-05-12 15:32:00.204891
...       ...     ...            ...                        ...
1496    89641       5  user_0150_abc 2020-05-12 15:32:00.399902
1497    77653       3  user_0150_abc 2020-05-12 15:32:00.399902
1498    88911       4  user_0150_abc 2020-05-12 15:32:00.399902
1499    93115       4  user_0150_abc 2020-05-12 15:32:00.400905
1500    90424       4  user_0150_abc 2020-05-12 15:32:00.400905

[1500 rows x 4 columns]

In [94]:
a1= df.loc[10:20,"rating"]
a2= list(a1)

In [95]:
import pandas as pd

In [96]:
hotel = pd.read_sql("restaurant", db.engine)
Ratings = pd.read_sql("rating", db.engine)
Mean = Ratings.groupby(by="username",as_index=False)['rating'].mean()

In [97]:
Rating_avg = pd.merge(Ratings,Mean,on='username')
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head(15)

,id,rest_id,rating_x,username,date_posted,rating_y,adg_rating
0,1,82057,4,user_01_abc,2020-05-12 15:32:00.202893,3.4,0.6
1,2,83657,4,user_01_abc,2020-05-12 15:32:00.203894,3.4,0.6
2,3,89626,3,user_01_abc,2020-05-12 15:32:00.204891,3.4,-0.4
3,4,91276,4,user_01_abc,2020-05-12 15:32:00.204891,3.4,0.6
4,5,93829,3,user_01_abc,2020-05-12 15:32:00.204891,3.4,-0.4
5,6,86930,3,user_01_abc,2020-05-12 15:32:00.204891,3.4,-0.4
6,7,79783,4,user_01_abc,2020-05-12 15:32:00.204891,3.4,0.6
7,8,90944,4,user_01_abc,2020-05-12 15:32:00.204891,3.4,0.6
8,9,78715,2,user_01_abc,2020-05-12 15:32:00.204891,3.4,-1.4
9,10,97146,3,user_01_abc,2020-05-12 15:32:00.204891,3.4,-0.4
10,11,97099,2,user_02_abc,2020-05-12 15:32:00.204891,3.6,-1.6
11,12,79267,3,user_02_abc,2020-05-12 15:32:00.204891,3.6,-0.6
12,13,84842,5,user_02_abc,2020-05-12 15:32:00.205891,3.6,1.4
13,14,96251,4,user_02_abc,2020-05-12 15:32:00.205891,3.6,0.4
14,15,100022,5,user_02_abc,2020-05-12 15:32:00.205891,3.6,1.4

In [98]:
hotel.head()

,id,zomato_url,name,city,area,rating,rating_count,telephone,cuisine,cost_for_two,address,online_order,table_reservation,delivery_only,famous_food,longitude,latitude
0,74366,https://www.zomato.com/lucknow/good-bakery-nis...,Good Bakery,Lucknow,Nishatganj,4.0,279.0,0522 4000145 +91 9335912829,"Bakery, Fast Food",450.0,"Near Indira Bridge, Nishatganj, Lucknow",True,False,False,"Noodle , Fried Rice , Coffee",80.956512,26.870551
1,74385,https://www.zomato.com/lucknow/sepia-renaissan...,Sepia - Renaissance Lucknow Hotel,Lucknow,Gomti Nagar,4.1,223.0,080 45128594,Awadhi,1500.0,"Renaissance Lucknow Hotel, Vipin Khand, Gomti ...",False,True,False,"Warqi Parantha , Mutton Biryani , Chicken Tikk...",80.973488,26.853250
2,74403,https://www.zomato.com/lucknow/cake-n-cafe-aas...,Cake 'n' Cafe,Lucknow,Aashiana,3.8,270.0,0522 4304555 +91 7991585855,"Fast Food, Bakery, Desserts",200.0,"M 249, LDA Colony, Sector G, Ashiyana, Near Po...",True,True,False,Waffles,80.908467,26.789445
3,74420,https://www.zomato.com/lucknow/ram-asrey-hazra...,Ram Asrey,Lucknow,Hazratganj,4.1,207.0,0522 4006000 +91 9454512700,"Mithai, Fast Food, Desserts",350.0,"43/48, Nawal Kishore Road, Near Leela Theatre,...",True,False,False,"Malai Paan , Chaat , Aloo Tikki , Dhokla , Ras...",80.943666,26.850022
4,74438,https://www.zomato.com/lucknow/nawabeens-awadh...,Nawabeen's Awadhi Restaurant,Lucknow,Lalbagh,3.9,296.0,080 45128621,"Awadhi, North Indian, Mughlai",1200.0,"3, Quinton Road, Near Nishat Hospital, Lalbagh...",True,True,False,"Biryani , Kulcha Nihari , Fish Tikka , Mutton ...",80.936131,26.850230

In [99]:
hotel.rename(columns = {'id':'rest_id'}, inplace = True) 
hotel.head()

,rest_id,zomato_url,name,city,area,rating,rating_count,telephone,cuisine,cost_for_two,address,online_order,table_reservation,delivery_only,famous_food,longitude,latitude
0,74366,https://www.zomato.com/lucknow/good-bakery-nis...,Good Bakery,Lucknow,Nishatganj,4.0,279.0,0522 4000145 +91 9335912829,"Bakery, Fast Food",450.0,"Near Indira Bridge, Nishatganj, Lucknow",True,False,False,"Noodle , Fried Rice , Coffee",80.956512,26.870551
1,74385,https://www.zomato.com/lucknow/sepia-renaissan...,Sepia - Renaissance Lucknow Hotel,Lucknow,Gomti Nagar,4.1,223.0,080 45128594,Awadhi,1500.0,"Renaissance Lucknow Hotel, Vipin Khand, Gomti ...",False,True,False,"Warqi Parantha , Mutton Biryani , Chicken Tikk...",80.973488,26.853250
2,74403,https://www.zomato.com/lucknow/cake-n-cafe-aas...,Cake 'n' Cafe,Lucknow,Aashiana,3.8,270.0,0522 4304555 +91 7991585855,"Fast Food, Bakery, Desserts",200.0,"M 249, LDA Colony, Sector G, Ashiyana, Near Po...",True,True,False,Waffles,80.908467,26.789445
3,74420,https://www.zomato.com/lucknow/ram-asrey-hazra...,Ram Asrey,Lucknow,Hazratganj,4.1,207.0,0522 4006000 +91 9454512700,"Mithai, Fast Food, Desserts",350.0,"43/48, Nawal Kishore Road, Near Leela Theatre,...",True,False,False,"Malai Paan , Chaat , Aloo Tikki , Dhokla , Ras...",80.943666,26.850022
4,74438,https://www.zomato.com/lucknow/nawabeens-awadh...,Nawabeen's Awadhi Restaurant,Lucknow,Lalbagh,3.9,296.0,080 45128621,"Awadhi, North Indian, Mughlai",1200.0,"3, Quinton Road, Near Nishat Hospital, Lalbagh...",True,True,False,"Biryani , Kulcha Nihari , Fish Tikka , Mutton ...",80.936131,26.850230

In [100]:
Ratings.head()

   id  rest_id  rating     username                date_posted
0   1    82057       4  user_01_abc 2020-05-12 15:32:00.202893
1   2    83657       4  user_01_abc 2020-05-12 15:32:00.203894
2   3    89626       3  user_01_abc 2020-05-12 15:32:00.204891
3   4    91276       4  user_01_abc 2020-05-12 15:32:00.204891
4   5    93829       3  user_01_abc 2020-05-12 15:32:00.204891

In [101]:
check = pd.pivot_table(Rating_avg,values='rating_x',index='username',columns='rest_id')
check.head(15)

rest_id,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0101_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0102_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0103_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0104_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0105_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0106_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0107_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0108_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0109_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_010_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0110_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0111_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0112_abc,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0113_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
final = pd.pivot_table(Rating_avg,values='adg_rating',index='username',columns='rest_id')
final.head()

rest_id,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0101_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0102_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0103_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0104_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
# Replacing NaN by Movie Average
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [104]:
final_movie.head()

rest_id,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,-1.3,0.45,0.325,0.2,-0.1,-0.2,0.25,0.8,0.05,-1.2,...,-0.4,0.1,0.5,-0.45,-0.5,-0.266667,-0.066667,0.0,0.7,0.8
user_0101_abc,-1.3,0.45,0.325,0.2,-0.1,-0.2,0.25,0.8,0.05,-1.2,...,-0.4,0.1,0.5,-0.45,-0.5,-0.266667,-0.066667,0.0,0.7,0.8
user_0102_abc,-1.3,0.45,0.325,0.2,-0.1,-0.2,0.25,0.8,0.05,-1.2,...,-0.4,0.1,0.5,-0.45,-0.5,-0.266667,-0.066667,0.0,0.7,0.8
user_0103_abc,-1.3,0.45,0.325,0.2,-0.1,-0.2,0.25,0.8,0.05,-1.2,...,-0.4,0.1,0.5,-0.45,-0.5,-0.266667,-0.066667,0.0,0.7,0.8
user_0104_abc,-1.3,0.45,0.325,0.2,-0.1,-0.2,0.25,0.8,0.05,-1.2,...,-0.4,0.1,0.5,-0.45,-0.5,-0.266667,-0.066667,0.0,0.7,0.8

In [105]:
final_user.head()

rest_id,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,...,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16,-1.776357e-16
user_0101_abc,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
user_0102_abc,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,...,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17,-8.881784e-17
user_0103_abc,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,...,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17
user_0104_abc,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,...,-4.000000e-01,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17,8.881784e-17

In [106]:
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

username,user_0100_abc,user_0101_abc,user_0102_abc,user_0103_abc,user_0104_abc,user_0105_abc,user_0106_abc,user_0107_abc,user_0108_abc,user_0109_abc,...,user_091_abc,user_092_abc,user_093_abc,user_094_abc,user_095_abc,user_096_abc,user_097_abc,user_098_abc,user_099_abc,user_09_abc
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,0.000000e+00,3.984396e-34,1.598000e-30,3.888889e-02,-1.644369e-30,3.833062e-30,-1.612296e-15,2.897988e-30,-4.148855e-30,-4.894909e-30,...,-3.449393e-30,-3.888889e-02,-4.333244e-30,6.865122e-34,1.739075e-30,-1.761380e-30,5.161880e-30,-5.371480e-30,3.846692e-30,2.039142e-30
user_0101_abc,3.984396e-34,0.000000e+00,-8.095256e-34,8.095256e-34,-3.807409e-34,8.140431e-34,-5.662559e-19,-1.816572e-35,-8.140431e-34,2.361342e-33,...,2.543580e-33,-8.095256e-34,2.361342e-33,0.000000e+00,3.253671e-34,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
user_0102_abc,1.598000e-30,-8.095256e-34,0.000000e+00,-2.429446e-31,-2.817070e-31,2.035074e-30,-1.296396e-15,1.982518e-30,-1.079813e-30,-1.505860e-30,...,-1.699287e-30,3.887037e-31,-1.530512e-30,-5.590170e-02,9.924974e-31,-9.308865e-31,3.877744e-30,-1.691705e-30,1.446502e-30,1.261995e-30
user_0103_abc,3.888889e-02,8.095256e-34,-2.429446e-31,0.000000e+00,4.612037e-31,6.882472e-02,5.981042e-16,-1.480621e-30,1.233006e-30,1.557185e-30,...,1.460124e-30,-8.439936e-31,1.015129e-01,-4.659378e-34,-6.382628e-31,9.281834e-31,-3.596507e-30,1.894981e-30,-1.345437e-30,-7.658759e-31
user_0104_abc,-1.644369e-30,-3.807409e-34,-2.817070e-31,4.612037e-31,0.000000e+00,-7.548595e-31,9.545467e-16,-1.265455e-30,1.318772e-30,6.351025e-31,...,7.083927e-31,-8.186563e-31,1.867698e-30,-5.279642e-34,-2.920349e-31,8.669214e-02,-1.130535e-30,1.155102e-30,-7.973880e-31,-6.389312e-31

In [107]:
# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

username,user_0100_abc,user_0101_abc,user_0102_abc,user_0103_abc,user_0104_abc,user_0105_abc,user_0106_abc,user_0107_abc,user_0108_abc,user_0109_abc,...,user_091_abc,user_092_abc,user_093_abc,user_094_abc,user_095_abc,user_096_abc,user_097_abc,user_098_abc,user_099_abc,user_09_abc
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,0.000000,0.995481,0.995689,0.995509,0.994744,0.993499,0.993841,0.996135,0.996143,0.993616,...,0.994008,0.991905,0.994800,0.993746,0.993365,0.995092,0.993095,0.994241,0.992112,0.994474
user_0101_abc,0.995481,0.000000,0.997458,0.997327,0.996510,0.995266,0.995606,0.997904,0.997912,0.995380,...,0.995775,0.994320,0.996569,0.995514,0.995132,0.996860,0.994855,0.996006,0.993873,0.996241
user_0102_abc,0.995689,0.997458,0.000000,0.997529,0.996709,0.995471,0.995806,0.998103,0.998113,0.995580,...,0.995977,0.994523,0.996773,0.994838,0.995337,0.997063,0.995049,0.996206,0.994070,0.996443
user_0103_abc,0.995509,0.997327,0.997529,0.000000,0.996579,0.995358,0.995677,0.997974,0.997983,0.995450,...,0.995847,0.994393,0.996549,0.995589,0.995207,0.996933,0.994920,0.996076,0.993941,0.996313
user_0104_abc,0.994744,0.996510,0.996709,0.996579,0.000000,0.994525,0.994857,0.997152,0.997163,0.994631,...,0.995030,0.993577,0.995825,0.994773,0.994391,0.995981,0.994097,0.995257,0.993122,0.995495

In [108]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [109]:
# top 30 neighbours for each user
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,user_045_abc,user_062_abc,user_058_abc,user_064_abc,user_035_abc,user_044_abc,user_0103_abc,user_0147_abc,user_0123_abc,user_065_abc,...,user_025_abc,user_04_abc,user_024_abc,user_0115_abc,user_0114_abc,user_0146_abc,user_0116_abc,user_067_abc,user_085_abc,user_099_abc
user_0101_abc,user_0150_abc,user_045_abc,user_0130_abc,user_068_abc,user_0147_abc,user_0119_abc,user_091_abc,user_079_abc,user_047_abc,user_010_abc,...,user_044_abc,user_018_abc,user_0134_abc,user_050_abc,user_0127_abc,user_0131_abc,user_0116_abc,user_0105_abc,user_061_abc,user_0146_abc
user_0102_abc,user_0144_abc,user_07_abc,user_028_abc,user_0116_abc,user_056_abc,user_085_abc,user_05_abc,user_068_abc,user_0147_abc,user_0130_abc,...,user_0134_abc,user_0123_abc,user_0138_abc,user_099_abc,user_037_abc,user_027_abc,user_058_abc,user_0121_abc,user_022_abc,user_0114_abc
user_0103_abc,user_077_abc,user_059_abc,user_055_abc,user_072_abc,user_093_abc,user_041_abc,user_0105_abc,user_0141_abc,user_04_abc,user_035_abc,...,user_010_abc,user_033_abc,user_07_abc,user_040_abc,user_0131_abc,user_0119_abc,user_08_abc,user_0109_abc,user_091_abc,user_076_abc
user_0104_abc,user_0145_abc,user_096_abc,user_021_abc,user_076_abc,user_0106_abc,user_0118_abc,user_0129_abc,user_093_abc,user_07_abc,user_079_abc,...,user_0143_abc,user_010_abc,user_077_abc,user_031_abc,user_018_abc,user_0133_abc,user_070_abc,user_040_abc,user_091_abc,user_0139_abc

In [110]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
username,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,user_058_abc,user_0111_abc,user_037_abc,user_0124_abc,user_0126_abc,user_0129_abc,user_0116_abc,user_057_abc,user_0113_abc,user_017_abc,...,user_04_abc,user_086_abc,user_059_abc,user_0112_abc,user_0123_abc,user_065_abc,user_088_abc,user_036_abc,user_0102_abc,user_075_abc
user_0101_abc,user_0111_abc,user_0129_abc,user_037_abc,user_0124_abc,user_0126_abc,user_0116_abc,user_058_abc,user_057_abc,user_0113_abc,user_017_abc,...,user_065_abc,user_086_abc,user_059_abc,user_0112_abc,user_0123_abc,user_088_abc,user_036_abc,user_0102_abc,user_0150_abc,user_062_abc
user_0102_abc,user_0111_abc,user_0129_abc,user_037_abc,user_0124_abc,user_0126_abc,user_058_abc,user_057_abc,user_0113_abc,user_0116_abc,user_017_abc,...,user_04_abc,user_065_abc,user_075_abc,user_059_abc,user_086_abc,user_0112_abc,user_0123_abc,user_088_abc,user_036_abc,user_062_abc
user_0103_abc,user_059_abc,user_0111_abc,user_0129_abc,user_037_abc,user_0124_abc,user_0126_abc,user_0116_abc,user_058_abc,user_057_abc,user_0113_abc,...,user_0150_abc,user_034_abc,user_065_abc,user_075_abc,user_086_abc,user_0112_abc,user_0123_abc,user_088_abc,user_036_abc,user_0102_abc
user_0104_abc,user_0111_abc,user_0129_abc,user_037_abc,user_0124_abc,user_0126_abc,user_0116_abc,user_058_abc,user_057_abc,user_0113_abc,user_017_abc,...,user_04_abc,user_065_abc,user_075_abc,user_059_abc,user_086_abc,user_0112_abc,user_0123_abc,user_088_abc,user_036_abc,user_0102_abc

In [111]:
def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.username == user1].merge(
    Rating_avg[Rating_avg.username == user2],
    on = "rest_id",
    how = "inner" )
    common_movies.info()
    return common_movies.merge( hotel, on = 'rest_id' )

In [112]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['username'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [113]:
score = User_item_score('user_018_abc',74385)
print("score (u,i) is",score)

score (u,i) is 3.8483332705375664

In [114]:
Rating_avg = Rating_avg.astype({"rest_id": str})
Movie_user = Rating_avg.groupby(by = 'username')['rest_id'].apply(lambda x:','.join(x))

In [125]:
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['username'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'REST_ID':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    
    top_5_recommendation.columns=['rest_id','score']
    Movie_Name = top_5_recommendation.merge(hotel, how='inner', on='rest_id')
    Movie_Names = Movie_Name.name.values.tolist()
    return Movie_Names

In [126]:
user = "user_018_abc"
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id :", user)
print("   ")
for i in predicted_movies:
    print(i)

The Recommendations for User Id : user_018_abc

Al Baik Corner
Sunny Veg Corner
Curry Tari
Grandson of Tunday Kababi
Kebab & Kurry