In [25]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [244]:
user= pd.read_csv('user_ratings_1500.csv', encoding="latin1")

In [261]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 4 columns):
Unnamed: 0    1500 non-null int64
USERNAME      1500 non-null object
RESTAURANT    1500 non-null object
RATING        1500 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 47.0+ KB

In [254]:
user[user["USERNAME"]=='user_02_abc']

    Unnamed: 0     USERNAME                 RESTAURANT  RATING
10          10  user_02_abc    On High - Hotel Silvete     3.3
11          11  user_02_abc          Bawarchi Pure Veg     5.0
12          12  user_02_abc          Khanna Food Point     3.7
13          13  user_02_abc                  Trinkster     3.9
14          14  user_02_abc               The Vegi Hub     3.7
15          15  user_02_abc                  Grill Inn     3.5
16          16  user_02_abc  Radhey Lal Premium Sweets     2.9
17          17  user_02_abc             Kalika Choolha     5.0
18          18  user_02_abc               Spice Garden     4.1
19          19  user_02_abc      Jannat-Dayal Paradise     3.0

In [252]:
a= user[user["USERNAME"]=='user_02_abc']
b= a["RATING"]
b.tolist()

[3.3, 5.0, 3.7, 3.9, 3.7, 3.5, 2.9, 5.0, 4.1, 3.0]

In [264]:
df = user.set_index("Unnamed: 0", drop = True)

In [265]:
df

                 USERNAME                  RESTAURANT  RATING
Unnamed: 0
0             user_01_abc                      Page 3     3.8
1             user_01_abc              Subhash Sweets     2.6
2             user_01_abc            Annapurna Sweets     2.7
3             user_01_abc                      Froozo     5.0
4             user_01_abc            Drunch - Skyotel     4.5
...                   ...                         ...     ...
1495        user_0150_abc  Radheylal Parampara Sweets     4.4
1496        user_0150_abc       Shivam's Little India     5.1
1497        user_0150_abc               Baba Ka Dhaba     4.1
1498        user_0150_abc                      Meal59     4.4
1499        user_0150_abc    Bajpayee Kachodi Bhandar     5.0

[1500 rows x 3 columns]

In [279]:
a1= df.loc[10:20,"RATING"]
a2= list(a1)

In [2]:
import pandas as pd

In [6]:
hotel = pd.read_csv("lko_final_01.csv",encoding="Latin1")
Ratings = pd.read_csv("user_ratings_rest_id.csv", encoding="Latin1")
Mean = Ratings.groupby(by="USERNAME",as_index=False)['RATING'].mean()
Rating_avg = pd.merge(Ratings,Mean,on='USERNAME')

Rating_avg['adg_rating']=Rating_avg['RATING_x']-Rating_avg['RATING_y']
Rating_avg.head(15)

,Unnamed: 0,USERNAME,REST_ID,RESTAURANT,RATING_x,RATING_y,adg_rating
0,0,user_01_abc,82057,Ritz Continental,4.5,3.91,0.59
1,1,user_01_abc,83657,Coffee & Cakes - Renaissance Lucknow Hotel,4.8,3.91,0.89
2,2,user_01_abc,89626,Newly Biryani,3.1,3.91,-0.81
3,3,user_01_abc,91276,Moti Mahal Sweets,4.1,3.91,0.19
4,4,user_01_abc,93829,Lollyss,3.7,3.91,-0.21
5,5,user_01_abc,86930,The Deli - Novotel,3.6,3.91,-0.31
6,6,user_01_abc,79783,The Nawab's,4.7,3.91,0.79
7,7,user_01_abc,90944,Yo Yo Land,4.3,3.91,0.39
8,8,user_01_abc,78715,Snack Shack,2.6,3.91,-1.31
9,9,user_01_abc,97146,Manya's Bakers & Cafe,3.7,3.91,-0.21
10,10,user_02_abc,97099,Milan Restaurant,2.6,3.92,-1.32
11,11,user_02_abc,79267,Gale Regale - The Metropolitan Club,3.3,3.92,-0.62
12,12,user_02_abc,84842,Punjabi Tadka,5.0,3.92,1.08
13,13,user_02_abc,96251,Republic Of Chicken,4.9,3.92,0.98
14,14,user_02_abc,100022,Alamgir Hotel,5.0,3.92,1.08

In [11]:
hotel.head()

,zomato_url,name,city,area,rating,rating_count,telephone,cusine,cost_for_two,address,online_order,table_reservation,delivery_only,famous_food,longitude,latitude
rest_id,,,,,,,,,,,,,,,,
74366,https://www.zomato.com/lucknow/good-bakery-nis...,Good Bakery,Lucknow,Nishatganj,4.0,279,0522 4000145 +91 9335912829,"Bakery, Fast Food",450,"Near Indira Bridge, Nishatganj, Lucknow",True,False,False,"Noodle , Fried Rice , Coffee",80.956512,26.870551
74385,https://www.zomato.com/lucknow/sepia-renaissan...,Sepia - Renaissance Lucknow Hotel,Lucknow,Gomti Nagar,4.1,223,080 45128594,Awadhi,1500,"Renaissance Lucknow Hotel, Vipin Khand, Gomti ...",False,True,False,"Warqi Parantha , Mutton Biryani , Chicken Tikk...",80.973488,26.853250
74403,https://www.zomato.com/lucknow/cake-n-cafe-aas...,Cake 'n' Cafe,Lucknow,Aashiana,3.8,270,0522 4304555 +91 7991585855,"Fast Food, Bakery, Desserts",200,"M 249, LDA Colony, Sector G, Ashiyana, Near Po...",True,True,False,Waffles,80.908467,26.789445
74420,https://www.zomato.com/lucknow/ram-asrey-hazra...,Ram Asrey,Lucknow,Hazratganj,4.1,207,0522 4006000 +91 9454512700,"Mithai, Fast Food, Desserts",350,"43/48, Nawal Kishore Road, Near Leela Theatre,...",True,False,False,"Malai Paan , Chaat , Aloo Tikki , Dhokla , Ras...",80.943666,26.850022
74438,https://www.zomato.com/lucknow/nawabeens-awadh...,Nawabeen's Awadhi Restaurant,Lucknow,Lalbagh,3.9,296,080 45128621,"Awadhi, North Indian, Mughlai",1200,"3, Quinton Road, Near Nishat Hospital, Lalbagh...",True,True,False,"Biryani , Kulcha Nihari , Fish Tikka , Mutton ...",80.936131,26.850230

In [17]:
hotel.rename(columns = {'rest_id':'REST_ID'}, inplace = True) 
hotel.head()

,REST_ID,zomato_url,name,city,area,rating,rating_count,telephone,cusine,cost_for_two,address,online_order,table_reservation,delivery_only,famous_food,longitude,latitude
0,74366,https://www.zomato.com/lucknow/good-bakery-nis...,Good Bakery,Lucknow,Nishatganj,4.0,279,0522 4000145 +91 9335912829,"Bakery, Fast Food",450,"Near Indira Bridge, Nishatganj, Lucknow",True,False,False,"Noodle , Fried Rice , Coffee",80.956512,26.870551
1,74385,https://www.zomato.com/lucknow/sepia-renaissan...,Sepia - Renaissance Lucknow Hotel,Lucknow,Gomti Nagar,4.1,223,080 45128594,Awadhi,1500,"Renaissance Lucknow Hotel, Vipin Khand, Gomti ...",False,True,False,"Warqi Parantha , Mutton Biryani , Chicken Tikk...",80.973488,26.853250
2,74403,https://www.zomato.com/lucknow/cake-n-cafe-aas...,Cake 'n' Cafe,Lucknow,Aashiana,3.8,270,0522 4304555 +91 7991585855,"Fast Food, Bakery, Desserts",200,"M 249, LDA Colony, Sector G, Ashiyana, Near Po...",True,True,False,Waffles,80.908467,26.789445
3,74420,https://www.zomato.com/lucknow/ram-asrey-hazra...,Ram Asrey,Lucknow,Hazratganj,4.1,207,0522 4006000 +91 9454512700,"Mithai, Fast Food, Desserts",350,"43/48, Nawal Kishore Road, Near Leela Theatre,...",True,False,False,"Malai Paan , Chaat , Aloo Tikki , Dhokla , Ras...",80.943666,26.850022
4,74438,https://www.zomato.com/lucknow/nawabeens-awadh...,Nawabeen's Awadhi Restaurant,Lucknow,Lalbagh,3.9,296,080 45128621,"Awadhi, North Indian, Mughlai",1200,"3, Quinton Road, Near Nishat Hospital, Lalbagh...",True,True,False,"Biryani , Kulcha Nihari , Fish Tikka , Mutton ...",80.936131,26.850230

In [57]:
Ratings.head()

,Unnamed: 0,USERNAME,REST_ID,RESTAURANT,RATING
0,0,user_01_abc,82057,Ritz Continental,4.5
1,1,user_01_abc,83657,Coffee & Cakes - Renaissance Lucknow Hotel,4.8
2,2,user_01_abc,89626,Newly Biryani,3.1
3,3,user_01_abc,91276,Moti Mahal Sweets,4.1
4,4,user_01_abc,93829,Lollyss,3.7

In [19]:
check = pd.pivot_table(Rating_avg,values='RATING_x',index='USERNAME',columns='REST_ID')
check.head(15)

REST_ID,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0101_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0102_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0103_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0104_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0105_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0106_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0107_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0108_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0109_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_010_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0110_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0111_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0112_abc,NaN,NaN,NaN,4.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0113_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
final = pd.pivot_table(Rating_avg,values='adg_rating',index='USERNAME',columns='REST_ID')
final.head()

REST_ID,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0101_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0102_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0103_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_0104_abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Replacing NaN by Movie Average
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [22]:
final_movie.head()

REST_ID,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,-0.96,0.365,0.0775,0.405,-0.265,-0.455,-0.005,0.74,-0.015,-1.0,...,-0.72,0.025,0.33,-0.505,-0.48,-0.473333,-0.136667,-0.45,0.45,0.64
user_0101_abc,-0.96,0.365,0.0775,0.405,-0.265,-0.455,-0.005,0.74,-0.015,-1.0,...,-0.72,0.025,0.33,-0.505,-0.48,-0.473333,-0.136667,-0.45,0.45,0.64
user_0102_abc,-0.96,0.365,0.0775,0.405,-0.265,-0.455,-0.005,0.74,-0.015,-1.0,...,-0.72,0.025,0.33,-0.505,-0.48,-0.473333,-0.136667,-0.45,0.45,0.64
user_0103_abc,-0.96,0.365,0.0775,0.405,-0.265,-0.455,-0.005,0.74,-0.015,-1.0,...,-0.72,0.025,0.33,-0.505,-0.48,-0.473333,-0.136667,-0.45,0.45,0.64
user_0104_abc,-0.96,0.365,0.0775,0.405,-0.265,-0.455,-0.005,0.74,-0.015,-1.0,...,-0.72,0.025,0.33,-0.505,-0.48,-0.473333,-0.136667,-0.45,0.45,0.64

In [23]:
final_user.head()

REST_ID,74366,74385,74420,74438,74477,74495,74516,74575,74594,74630,...,201888,201905,201913,201968,202006,202210,202669,203161,203592,203652
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,...,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16,1.332268e-16
user_0101_abc,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,...,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16,5.329071e-16
user_0102_abc,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,...,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16,-3.108624e-16
user_0103_abc,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,...,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17,-4.440892e-17
user_0104_abc,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,...,-7.200000e-01,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16,-2.220446e-16

In [26]:
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

USERNAME,user_0100_abc,user_0101_abc,user_0102_abc,user_0103_abc,user_0104_abc,user_0105_abc,user_0106_abc,user_0107_abc,user_0108_abc,user_0109_abc,...,user_091_abc,user_092_abc,user_093_abc,user_094_abc,user_095_abc,user_096_abc,user_097_abc,user_098_abc,user_099_abc,user_09_abc
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,0.000000e+00,1.465556e-29,-6.756933e-30,8.309814e-02,-3.349577e-30,1.540744e-33,1.243797e-15,-2.264894e-30,3.297192e-30,-7.124400e-30,...,1.725633e-30,-4.208804e-02,-1.503766e-29,-4.144601e-30,4.505135e-30,-3.842615e-30,-3.608422e-30,7.253823e-30,-4.092216e-30,4.233964e-30
user_0101_abc,1.465556e-29,0.000000e+00,-3.035266e-29,-3.081488e-30,-2.036247e-29,2.465190e-32,6.925016e-15,-1.284980e-29,1.548140e-29,-4.294362e-29,...,7.395571e-30,2.444236e-29,-6.365121e-29,-2.030084e-29,2.290162e-29,-1.811915e-29,-1.608537e-29,3.263912e-29,-1.572791e-29,2.704314e-29
user_0102_abc,-6.756933e-30,-3.035266e-29,0.000000e+00,1.516092e-30,9.809628e-30,6.162976e-33,-3.483325e-15,6.569732e-30,-6.680666e-30,1.990295e-29,...,-3.574526e-30,-1.186681e-29,3.247888e-29,-7.482081e-02,-1.117348e-29,7.990106e-30,7.888609e-30,-1.576489e-29,6.631362e-30,-1.361401e-29
user_0103_abc,8.309814e-02,-3.081488e-30,1.516092e-30,0.000000e+00,1.195617e-30,2.654929e-02,-3.573530e-16,7.056607e-31,-1.001098e-30,2.021456e-30,...,-3.112303e-31,-1.318877e-30,7.526113e-02,1.189454e-30,-1.435973e-30,1.060032e-30,1.078521e-30,-2.033782e-30,8.874685e-31,-1.435973e-30
user_0104_abc,-3.349577e-30,-2.036247e-29,9.809628e-30,1.195617e-30,0.000000e+00,-6.162976e-33,-2.084270e-15,4.047534e-30,-4.437343e-30,1.320109e-29,...,-2.434375e-30,-7.962565e-30,2.092947e-29,6.652932e-30,-7.592786e-30,2.499893e-02,5.438826e-30,-1.063113e-29,4.720839e-30,-9.719013e-30

In [27]:
# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

USERNAME,user_0100_abc,user_0101_abc,user_0102_abc,user_0103_abc,user_0104_abc,user_0105_abc,user_0106_abc,user_0107_abc,user_0108_abc,user_0109_abc,...,user_091_abc,user_092_abc,user_093_abc,user_094_abc,user_095_abc,user_096_abc,user_097_abc,user_098_abc,user_099_abc,user_09_abc
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,0.000000,0.995150,0.995656,0.996240,0.994210,0.993549,0.994664,0.996468,0.995558,0.991881,...,0.993472,0.991683,0.994239,0.994536,0.994358,0.995369,0.993865,0.994345,0.992519,0.994224
user_0101_abc,0.995150,0.000000,0.996843,0.997417,0.995389,0.994731,0.995847,0.997651,0.996742,0.993057,...,0.994655,0.993088,0.995423,0.995717,0.995541,0.996551,0.995043,0.995525,0.993697,0.995409
user_0102_abc,0.995656,0.996843,0.000000,0.997926,0.995899,0.995239,0.996355,0.998161,0.997251,0.993565,...,0.995162,0.993596,0.995931,0.995250,0.996049,0.997061,0.995553,0.996035,0.994205,0.995916
user_0103_abc,0.996240,0.997417,0.997926,0.000000,0.996467,0.995977,0.996928,0.998732,0.997824,0.994132,...,0.995736,0.994166,0.996600,0.996797,0.996623,0.997632,0.996121,0.996604,0.994774,0.996491
user_0104_abc,0.994210,0.995389,0.995899,0.996467,0.000000,0.993786,0.994900,0.996698,0.995794,0.992107,...,0.993712,0.992143,0.994479,0.994768,0.994596,0.995647,0.994092,0.994575,0.992748,0.994467

In [28]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [29]:
# top 30 neighbours for each user
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,user_045_abc,user_062_abc,user_064_abc,user_0103_abc,user_035_abc,user_044_abc,user_058_abc,user_0147_abc,user_075_abc,user_0106_abc,...,user_0131_abc,user_013_abc,user_085_abc,user_0101_abc,user_082_abc,user_074_abc,user_0143_abc,user_081_abc,user_031_abc,user_026_abc
user_0101_abc,user_0150_abc,user_0106_abc,user_0118_abc,user_047_abc,user_012_abc,user_055_abc,user_059_abc,user_013_abc,user_086_abc,user_040_abc,...,user_011_abc,user_031_abc,user_067_abc,user_074_abc,user_0143_abc,user_026_abc,user_025_abc,user_098_abc,user_044_abc,user_0132_abc
user_0102_abc,user_0144_abc,user_07_abc,user_028_abc,user_056_abc,user_0116_abc,user_085_abc,user_05_abc,user_037_abc,user_046_abc,user_0129_abc,...,user_015_abc,user_072_abc,user_0112_abc,user_071_abc,user_0142_abc,user_0127_abc,user_065_abc,user_042_abc,user_0115_abc,user_017_abc
user_0103_abc,user_077_abc,user_055_abc,user_059_abc,user_04_abc,user_072_abc,user_0100_abc,user_035_abc,user_093_abc,user_041_abc,user_0141_abc,...,user_064_abc,user_0145_abc,user_066_abc,user_0127_abc,user_0136_abc,user_071_abc,user_015_abc,user_0112_abc,user_0142_abc,user_0115_abc
user_0104_abc,user_0145_abc,user_021_abc,user_076_abc,user_096_abc,user_05_abc,user_037_abc,user_046_abc,user_0129_abc,user_029_abc,user_087_abc,...,user_065_abc,user_071_abc,user_07_abc,user_0112_abc,user_042_abc,user_017_abc,user_0109_abc,user_0115_abc,user_045_abc,user_0149_abc

In [34]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
USERNAME,,,,,,,,,,,,,,,,,,,,,
user_0100_abc,user_037_abc,user_0116_abc,user_0129_abc,user_0107_abc,user_055_abc,user_017_abc,user_0150_abc,user_0111_abc,user_026_abc,user_0149_abc,...,user_04_abc,user_059_abc,user_086_abc,user_0122_abc,user_050_abc,user_0124_abc,user_064_abc,user_0102_abc,user_0148_abc,user_0112_abc
user_0101_abc,user_037_abc,user_0129_abc,user_0116_abc,user_0107_abc,user_055_abc,user_017_abc,user_0111_abc,user_0150_abc,user_026_abc,user_0149_abc,...,user_064_abc,user_059_abc,user_086_abc,user_0122_abc,user_065_abc,user_050_abc,user_0124_abc,user_0102_abc,user_058_abc,user_0148_abc
user_0102_abc,user_037_abc,user_0129_abc,user_0116_abc,user_0107_abc,user_055_abc,user_017_abc,user_0150_abc,user_0111_abc,user_026_abc,user_0149_abc,...,user_04_abc,user_064_abc,user_059_abc,user_086_abc,user_0122_abc,user_065_abc,user_050_abc,user_0124_abc,user_058_abc,user_0148_abc
user_0103_abc,user_037_abc,user_0129_abc,user_0116_abc,user_059_abc,user_0107_abc,user_055_abc,user_017_abc,user_0150_abc,user_0111_abc,user_0149_abc,...,user_04_abc,user_064_abc,user_086_abc,user_0122_abc,user_065_abc,user_050_abc,user_0124_abc,user_0102_abc,user_058_abc,user_0148_abc
user_0104_abc,user_037_abc,user_0129_abc,user_0116_abc,user_0107_abc,user_055_abc,user_017_abc,user_0150_abc,user_0111_abc,user_026_abc,user_0149_abc,...,user_04_abc,user_064_abc,user_059_abc,user_086_abc,user_0122_abc,user_065_abc,user_050_abc,user_0124_abc,user_0102_abc,user_058_abc

In [45]:
def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.USERNAME == user1].merge(
    Rating_avg[Rating_avg.USERNAME == user2],
    on = "REST_ID",
    how = "inner" )
    return common_movies.merge( hotel, on = 'REST_ID' )

In [48]:
a = get_user_similar_movies('user_018_abc','user_018_abc')
a = a.loc[ : , ['RATING_x_x','RATING_x_y','name']]
a.head()

   RATING_x_x  RATING_x_y                       name
0         3.0         3.0                 Frosty Hub
1         4.9         4.9               Balaji Grand
2         4.2         4.2                 Texas Cafe
3         3.1         3.1  DC Rainbow Live Ice Cream
4         3.0         3.0         Poseidon - Ranbirs

In [55]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['USERNAME'] == user,'RATING'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [58]:
score = User_item_score('user_018_abc',74385)
print("score (u,i) is",score)

score (u,i) is 4.111500125508155

In [59]:
Rating_avg = Rating_avg.astype({"REST_ID": str})
Movie_user = Rating_avg.groupby(by = 'USERNAME')['REST_ID'].apply(lambda x:','.join(x))

In [65]:
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['USERNAME'] == user,'RATING'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'REST_ID':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(hotel, how='inner', on='REST_ID')
    Movie_Names = Movie_Name.name.values.tolist()
    return Movie_Names

In [66]:
user = input("Enter the user id to whom you want to recommend : ")
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id :", user)
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend :  user_018_abc

The Recommendations for User Id : user_018_abc

Al Baik Corner
Cafe GoDown
The Spice Food Factory
Sapna Sweets
Roll Wala.Com